@import 'base.styl'

body
  width 100%
  height 100%
  margin 0
  padding 0
  line-height 1.5
  font-size 14px
  font-weight normal

.add-entry
  f()
  vertical()
  jcc()
  aic()
  acc()
  input
    width 100%
    padding 8px 4px
    margin 10px 0
    border none
    outline none
    color #A7A7A7
    font-size 1.1em
    border 1px solid #eee
    border-bottom: 4px solid #CCC
    transition border .3s $swift
    &:focus
      border-bottom: 4px solid #171718
  input[type="submit"]
      display none
.container
  f()
  vertical()
  jcc()
  aic()
  acc()
  width 100%
.grid
  f()
  horizontal()
  jca()
  ais()
  acc()
  width 100%
  .column
    f()
    vertical()
    jcs()
    ais()
    acc()
    hr
      width 100%
